.cabecalho {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
}

body::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./img/telaFundo.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;

}


.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;

}

.login-container,
.cadastro-container {
    margin: 100px auto;
    padding: 2rem;
    background: rgb(8 0 57 / 90%);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,255, 0.1);
    min-width: 40vh;
    border: 1px solid white;

}


.img-logo {
    height: 100px;
    margin-left: 60px

}

a {
  color: #00FFFF;
  text-decoration: none;

}
a:hover {
  text-decoration: underline ;
  color: #03abab;

}