<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="shortcut icon" href=".././static/img/icone.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="cabecalho">
       <img class="img-logo" src=".././static/img/LogoSofi.png" alt="">
    </header>
    <div class="container">

        <div class="login-container">
            <h2 class="mb-4 text-center">Login</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            {% endif %}
          {% endwith%}

          <form method="post">
              <div class="mb-3">
                  <label class="form-label" >Usuário</label>
                  <input class="form-control" type="text" name="username" required>

              </div>
              <div class="mb-3">
                  <label class="form-label" >Senha</label>
                  <input  class="form-control" type="password" name="password" required>

              </div>
              <button type="submit" class="btn bg-info w-100">Entrar</button>


              <div class="d-flex flex-row text-center justify-content-center">
                  <p>Ainda não é cadastrado? </p>
                  <a type="link" class=".text-info" href="{{ url_for('cadastrar') }}"> Cadastre-se aqui</a>

              </div>


          </form>


        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>